@tailwind base;
@tailwind components;
@tailwind utilities;

*,
a:focus {
  outline: none !important;
}

body {
  background-image: url("./background/156418-dart_vejder-zvezdnye_vojny-no_strah-grand_admiral_traun-art-1920x1080.jpg");
  background-size: cover;
  backdrop-filter: blur(3px);
  background-position: center center;
}

.btn-color {
  background: #bb4341;
}

.text-color {
  color: #bb4341;
}
